<div class="mt-10 max-w-7xl mx-auto px-4">
  <h1 class="page-heading mb-8">Blogs</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <% @blog_posts.each do |blog_post| %>
      <%= link_to blog_post, class: "bg-cards shadow-lg rounded-lg overflow-hidden transform hover:scale-105 transition-all duration-300" do %>
        <div class="p-4">
          <h2 class="text-2xl font-semibold text-primary mb-4"><%= blog_post.title %></h2>
          <div class="text-secondary text-sm line-clamp-3"><%= render_markdown blog_post.body %></div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if authenticated? %>
    <div class="mt-8 text-center">
      <%= button_to "New Blog",
        new_blog_post_path,
        method: :get,
        class: "button" %>
    </div>
  <% end %>
</div>

