<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <h1 class="text-3xl font-semibold text-center text-gray-800">New Blog Post</h1>
</div>

<%= render partial: "form", locals: { blog_post: @blog_post } %>
