<div class="grid grid-cols-12 gap-2 mt-10">
  <div class="overflow-hidden col-span-4 col-start-2">
    <img
      src="/maxsherwin.jpg"
      alt="Max Sherwin Headshot"
      class="w-full aspect-[1/1] object-cover object-top rounded-full"
    />
  </div>
  <div class="text-headings text-6xl col-span-4 col-start-7">
    <h1 class="text-6xl">Max Sherwin</h1>
    <h2 class="text-4xl">Software Engineer</h2>
  </div>
</div>
