<div class="grid grid-cols-12 gap-2 mt-10 bg-cards p-8 rounded-4xl">
  <div class="overflow-hidden col-span-4 col-start-2">
    <img
      src="/maxsherwin.jpg"
      alt="Max Sherwin Headshot"
      class="w-full aspect-[1/1] object-cover object-top rounded-full"
    />
  </div>
  <div
    class="
      text-headings text-6xl col-span-5 col-start-7 flex justify-center flex-col gap-8
    "
  >
    <h1 class="text-6xl font-lekton">Max Sherwin</h1>
    <h2 class="text-3xl font-lekton">Software Engineer</h2>
  </div>
</div>
<div class="grid-cols-12">

</div>
